{% extends 'neighbour/base.html'%}



{% block content%}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"></div>
    <h1 style="text-align: center;padding:40px;font-family: 'Aguafina Script', cursive;"><strong> Neighbourhood Post</strong></h1>
    <div class="col-md-2"></div>
</div>



<div class="container">


    <div class="row" style="margin-left:10px;margin-right:10px;background-color: #d7cdcc;margin-bottom:10px;">
        {%for image in images%}
        <div class="col-md-4"style="margin-bottom: 20px;padding-top:20px;">
            <div class="card-group" style="background-color:white;">

                
                <div class="card">
                    <img class="card-img-top" src="{{image.post.image.url}}" alt="Card image cap" style="width:300px; height:250px;padding-top:20px;padding-left:20px;">
                    <div class="card-body">

                        <p class="card-text" style="padding-left:50px;padding-top:10px;"> <strong>{{image.post.desc}}</strong></p>

                        <p style="padding-left:50px;padding-top:10px;"><a href="{% url 'viewProject_details' %}" >view Neighbourhood details</a></p>
                        <p class="card-text" style="padding-left:50px;"><a href="{{image.proLink}}"><em>Link to the 
                                    Project</em></a></p>
                                    
                        <p class="card-text" style="padding-left:50px;padding-bottom:10px;"><small class="text-muted">Posted
                                {{image.post.posted_date|timesince}} by {{image.user.username}}</small></p>
                        <!-- <div class="mx-auto" style="width: 200px;">
                        Centered element
                    </div> -->
                       
                    </div>

                </div>


            </div>
        </div>
           

        {% endfor %}
     
    </div><br><br>


</div>



{% endblock%}
<!--  -->